<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>SpringThymeleafContainer</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>
<body>
<section>
  <h2>My Course Goal</h2>
  <h3 th:text="${goal}"></h3>
</section>
<form role="form" th:action="@{/store-goal}" method="POST">
  <div class="form-control">
    <label>Course Goal</label>
    <input type="text" name="goal"/>
  </div>
  <button type="submit">Set Course Goal</button>
</form>
</body>
</html>